.counter-container {
   display: flex;
   justify-content: space-evenly;
   margin: 20px 0
}

.counter-element {
  display: flex;
  flex-direction: column;
  background-color: #e21c31;
  -webkit-box-shadow: 2px 2px 9px 1px rgba(0,0,0,0.51);
  -moz-box-shadow: 2px 2px 9px 1px rgba(0,0,0,0.51);
  box-shadow: 2px 2px 9px 1px rgba(0,0,0,0.51);
  border-radius: 6px;
  width: 100px;
  height: 100px;
  justify-content: center;
  margin: 0 20px;
}

.counter-number {
    font-size: 4rem;
    line-height: 4rem;
    margin: 0;
    font-family: 'Concert One', sans-serif;
}

.counter-text{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}