.counter-container {
   display: flex;
   justify-content: space-evenly;
   margin: 20px 0
}

.counter-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e21c31;
  -webkit-box-shadow: 2px 2px 9px 1px rgba(0,0,0,0.51);
  -moz-box-shadow: 2px 2px 9px 1px rgba(0,0,0,0.51);
  box-shadow: 2px 2px 9px 1px rgba(0,0,0,0.51);
  border-radius: 6px;
  width: 100px;
  height: 100px;
  justify-content: center;
  margin: 0 20px;
}

.counter-number {
    font-size: 4rem;
    line-height: 4rem;
    margin: 0;
    font-family: 'Concert One', sans-serif;
    color: white;
}

.counter-text{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

@media only screen
and (max-width : 630px) {
  .counter-container{
    width: 98%;
    justify-content: center;
  }
  .counter-element {
    margin: 0 5px;
    padding: 0 5px;
    width: 25%;
    min-width: 75px;
    max-width: 90px;
    height: 80px;
  }

  .counter-number {
    font-size: 3rem;
    line-height: 3rem;
}

.counter-text{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

}